{% extends "layout.html"%}


{% block title %}
	Register
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-4 bg-primary" style="margin-top: 15px; border-radius: 15px; padding: 20px;">
				<p class="font-arial" style="font-size: 18px;">TIPS</p>
				<span class="row bg-info">&#8594 Username must have at least 5(five) characters</span>
				<span class="row bg-info">&#8594 Password must have at least 10(ten) characters</span>
				<span class="row bg-warning">&#8594 We always recommend use words, with upper and lowercase, digits, special symbols and more for your password </span>
				<span class="row bg-danger" style="color: white;">&#8594 Do not share your password for any people!</span>
			</div>
			<div class="col-sm-4">
				<form class="form-group" action="/register" method="POST" style="margin-top: 50px;">
					<input class="form-control" style="width: 70%;" type="text" name="username" placeholder="Username here" alt="Username input" autocomplete="off" autofocus>
					<p class="font-monospace" style="font-size: 18px;">USERNAME</p>
					<input class="form-control" style="width: 70%;" type="password" name="password" placeholder="Password here" alt="Password input" autocomplete="off">
					<p class="font-monospace" style="font-size: 18px;">PASSWORD</p>
					<input class="form-control" style="width: 70%;" type="password" name="password-2" placeholder="Password repeat" alt="Repeat Password input" autocomplete="off">
					<p class="font-monospace" style="font-size: 18px;">REPEAT PASSWORD</p>
					{% if msg %}
						<h4 id="msg" class="font-monospace" style="color: {% if color %}{{ color }}{% endif %}; font-size: 15px">{{ msg }}</h4>
						<script>
							var element = document.getElementById("msg");
							function hiddeElement() {
								element.setAttribute("hidden", true);
							}
							setTimeout(hiddeElement, 15000);
						</script>
					{% endif %}
					<input type="submit" class="btn btn-primary" style="margin-top: 10px;" value="Register">
				</form>
			</div>
		</div>
	</div>
{% endblock %}

